<!-- <p class="lead mb-3">Welcome to Trotter Map <%= name%></p> -->
<link rel="stylesheet" href="css/map.css">
<div class="loader">
  <img src="/img/loader2.gif" alt="loading...">
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Trotter Map</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <p class="hello-name">Hello, <%= name%></p>
      <li class="nav-item active">
        <a href="/users/logout" class="btn btn-secondary" id="logout">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name='city-input' id='city-input' placeholder="enter city name">
      <div id="dropdown-box">
        <ul id="dropdown-list"></ul>
      </div>
    </form>

  </div>
</nav>


<!--
<div id='search-box'>
  <form id='search-field'>
    <input type='text' name='city-input' id='city-input' placeholder="enter city name">
    <div id="dropdown-box">
      <ul id="dropdown-list"></ul>
    </div>
  </form>
</div>
-->
<div id='current-forecast-box'>
  <ul id='current-forecast'>
    <li id='current'><a>current</a></li>
    <p>&nbsp;/&nbsp;</p>
    <li id='forecast' class='inactive'><a>forecast</a></li>
  </ul>
  <ul id='forecast-options'>
    <li class='hours inactive hidden'><a>3 hours</a></li>
    <li class='hours inactive hidden'><a>6 hours</a></li>
    <li class='hours inactive hidden'><a>12 hours</a></li>
    <li class='hours inactive hidden'><a>24 hours</a></li>
  </ul>
</div>
<div id="time"><p id="time-text"></p></div>
<div id="map"></div>
<script src="js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLqdEEMAjg-zFELYfS9s_yUY6F8FebgTE&callback=initMap"
async defer></script>
<script src="js/preload.js"></script>
